body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
}

header {
    text-align: center;
    padding: 40px 0;
}

.search-box {
    text-align: center;
    margin-bottom: 30px;
}

.search-box input {
    width: 380px;
    padding: 12px;
    font-size: 16px;
}

.search-box button {
    padding: 12px 20px;
    background: #7dbb2c;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.search-box button:hover {
    background: #6aa625;
}

.result {
    width: 85%;
    margin: auto;
    background: white;
    padding: 20px;
    border-top: 5px solid #7dbb2c;
    display: none;
}

.result h3 {
    background: #7dbb2c;
    color: white;
    padding: 10px;
}

.content {
    display: flex;
    gap: 20px;
}

table {
    width: 45%;
    border-collapse: collapse;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td:first-child {
    font-weight: bold;
    width: 40%;
}

#map {
    width: 55%;
    height: 360px;
    border-radius: 5px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    padding: 15px;
    text-align: center;
    background: white;
}

.yt-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

.yt-icon {
    width: 22px;
    height: 22px;
    fill: #ff0000;
}

.yt-link:hover {
    opacity: 0.8;
}
